<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <title>综合案例</title>
    <script src="vue/vue.js"></script>
</head>
<body>
    <div id="app">
        <div>name: <input type="text" placeholder="请输入名称" v-model="person.name"></div>
        <div>age:<input type="text" placeholder="请输入名称" v-model="person.age"></div>
        <div>
            <select name="sex" v-model="person.sex">
                <option value="0">boy</option>
                <option value="1">gril</option>
            </select>
        </div>
        <div>
            <button @click="create">create</button>
        </div>
        <table>
            <thead>
            <tr>
                <td>name</td>
                <td>age</td>
                <td>sex</td>
                <td>delete</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="person in people">
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.sex}}</td>
                <td><button @click="delectBtn($index)">Delect</button></td>
            </tr>
            </tbody>
        </table>
        <fieldset>
            <legend>02.利用键盘的enter 进行添加</legend>
            <input type="text"  @keyup.enter="addElm($index)" placeholder="请输入内容" v-model="newVal">
            <ul>
                <li v-for="val in todos">{{val.text}} ---{{val.cot}} <button @click="delBtn($index)">X</button></li>
            </ul>
        </fieldset>
    </div>
</body>
    <script type="text/javascript">
        new Vue({
            el:"#app",
            data:{
                person:{name:"",age:"",sex:""},
                people:[],
                todos:[
                    {text:0,cot:"测试01"}
                ],
                newVal:"",
            },
            methods:{
                create:function(){
                    this.people.push(this.person);
                    this.person={name:"",age:"",sex:""};
                },
                delectBtn:function(index){
                    this.people.splice(index,1);
                },
                addElm:function(index){
                    var val=this.newVal.trim();
                    this.todos.push({text:index,cot:val});
                    this.newVal=null;
                },
                delBtn:function(index){
                    this.todos.splice(index,1);
                }

            }
        })
    </script>
</html>